::selection {
    background: #dc3545;
    color: #fff;
}

/* sidebar */
.sidebar a:hover {
    color: #dc3545;
    transition: .25s;
}
.nav-item .active {
    color: #dc3545;
}

/* home */
.home-container span {
    color: #dc3545;
}

/* about */
.about-text h2 {
    color: #dc3545;
}
.about-text .btn {
    background-color: #dc3545;
}
.about-text .btn:hover, #resume-btn:active {
    background-color:#b42432;
}

/* contact */
.info-content {
    color: #dc3545;
}

.fixed-top a:hover {
    color: #dc3545;
}

/* header anim selected*/
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #dc3545;
}