@font-face {
  font-family: "AdobeMyungjo";
  src: url(public/AdobeMyungjoStdM.otf) format("opentype");
}

:root {
  --project-width: 268px;
}

body {
  font-family: "AdobeMyungjo", sans-serif;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
  background-color: #080404;
  color: #f2f2f2;
  overflow-x: none;
  border-style: solid;
}
p {
  font-size: small;
  margin: 0;
}
/* section {
  border-style: solid;
} */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

/* header section */
#header {
  display: flex;
  margin-top: 32px;
}
#header h1 {
  margin: 0;
}
#header a {
  color: #d8e9a8;
  transition: color 0.1s ease-in-out;
}
#header a:hover {
  color: #a2af7e;
}
#avocado {
  width: 200px;
  height: 200px;
}
#aboutme {
  flex: 1;
  margin-top: 12px;
}

/* navbar */
nav {
  position: relative;
  white-space: nowrap;
}
.underline {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  pointer-events: none;
  background: #f2f2f2;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
}
nav a {
  display: inline-block;
  width: 15%;
  text-align: center;
  cursor: pointer;
}

/* projects section */
.projects-wrapper {
  width: 100%;
  border-style: solid;
  overflow: auto;
}
.projects {
  display: flex;
  width: calc(8 * var(--project-width));
  animation: scroll 20s linear infinite;
  animation-delay: 2s;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-4 * var(--project-width)));
  }
}
.project {
  width: var(--project-width);
  padding: 0 6px;
  transition-delay: calc(200ms * var(--i));
  /* margin-right: 12px; */
}
.project:last-child {
  margin-right: 0px;
}
.project img {
  width: 100%;
}

/* playlists section */
.playlists-wrapper {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  margin-top: 80px;
}
#playlists {
  position: relative;
  width: 160px;
  height: 160px;
  transform-style: preserve-3d;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
#playlists span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * -40deg)) translateZ(350px);
  transition: all 1s;
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0002);
}
#playlists span:hover {
  top: -15px;
}
#playlists span:hover div {
  opacity: 1;
}
#playlists span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#playlists span div {
  position: absolute;
  top: 168px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media only screen and (max-width: 500px) {
  #avocado {
    width: 100px;
    height: 100px;
  }
  .playlists-wrapper {
    margin-top: 40px;
  }
  #playlists {
    width: 125px;
    height: 125px;
  }
  #playlists span {
    transform: rotateY(calc(var(--i) * -40deg)) translateZ(225px);
  }
  #playlists span div {
    top: 128px;
  }
}
